* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Moon Dance', cursive;
}

body {
    background-image: radial-gradient(circle at 87.5% 12.5%, #a7ff8c 0, #8bff94 12.5%, #6df69b 25%, #4be9a0 37.5%, #1adba2 50%, #00cca3 62.5%, #00bfa4 75%, #00b4a6 87.5%, #00aba8 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border: 1px solid green;
    position: relative;
}

.container .number {
        --rotation: 0;

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.8rem;
    font-weight: 500;
}

/*números*/
.container .number.number-1 {
    --rotation: 30deg;
}

.container .number.number-2 {
    --rotation: 60deg;
}

.container .number.number-3 {
    --rotation: 90deg;
}

.container .number.number-4 {
    --rotation: 120deg;
}

.container .number.number-5 {
    --rotation: 150deg;
}

.container .number.number-6 {
    --rotation: 180deg;
}

.container .number.number-7 {
    --rotation: 210deg;
}

.container .number.number-8 {
    --rotation: 240deg;
}

.container .number.number-9 {
    --rotation: 270deg;
}

.container .number.number-10 {
    --rotation: 300deg;
}

.container .number.number-11 {
    --rotation: 330deg;
}

/*ponteiros*/
.container::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 10;
    background-color: rgb(6, 112, 77);
    transform: translate(-50%, -50%);
}

.container .pont {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: rgb(6, 112, 77);
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container .pont.seconds {
    height: 40%;
    width: 3px;
    background-color: rgb(27, 59, 49);
}

.container .pont.minutes {
    width: 7px;
    height: 35%;
    background-color: rgb(6, 112, 77);
}

.container .pont.hours {
    width: 10px;
    height: 25%;
    background-color: rgb(6, 112, 77);
}